[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
moto = "*"
docker = "*"
cfn-lint = "*"

[packages]
boto3 = "==1.18.36"
pyyaml = "==5.4.1"
docutils = "==0.17.1"
urllib3 = "==1.26.6"

[requires]
python_version = "3.7"
